<!doctype html>
<div ng-app="app" ng-controller="BusinessCurrentJobsController">
  <div class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Connect-U</a>
          <a class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
          </a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-center" id="busname">
            <li role="menuitem">
              <a href="/business/home">{{cookieCompany}}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" dropdown is-open="status.isopen">
              <button class="btn btn-primary" dropdown-toggle id="single-button" ng-disabled="disabled" type="button">
                Profile
                <span class="caret"></span>
              </button>
              <ul aria-labelledby="single-button" class="dropdown-menu" role="menu">
                <li role="menuitem">
                  <a href="/business/profile">Your Profile</a>
                </li>
                <li role="menuitem">
                  <a href="#">Help</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem">
                  <a href="#" ng-click="logout()">Logout</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--start sidebar-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <ul class="side-nav fixed" id="nav-mobile">
          <li class="logo"></li>
          <li class="active">
            <a href="/business/add-jobs">Add Jobs</a>
          </li>
          <li class="active">
            <a href="/business/current-jobs">Current Jobs</a>
          </li>
          <li class="active">
            <a href="/business/student-outreach">Student Outreach</a>
          </li>
          <li class="active">
            <a href="/business/help">Help</a>
          </li>
        </ul>
      </div>
      <!--/.well -->
    </div>
    <!--/sidebar-nav-fixed -->
  </div>

  <div class="container">
    <div ng-show="jobsLoaded">
      <div class="row upper-space">
        <div class="col-md-4 spacing" ng-repeat="job in currentJobs">
          <!-- Cards-->
          <div class="flip3D" ng-click="clickEdit(job)">
            <div class="back">
              <section class="backHeader">
                <h4>Workers</h4>
                <p>
                  {{job.workers_required.SS}}
                </p>
              </section>
              <section class="backContent">
                <div>
                  <h6>Project Progress</h6>

                </div>
                <hr />
              </section>
              <section class="backContent">
                <div>
                  <h6>Social Media</h6>
                  <p>
                    <a href="#"><i class="fa fa-github fa-3x"></i></a>
                    <a href="#"><i class="fa fa-dribbble fa-4x"></i></a>
                    <a href=""><i class="fa fa-twitter fa-4x"></i></a>
                  </p>
                </div>
              </section>
            </div>
            <div class="front">
              <section class="about">
                <h4>{{job.title.S}}</h4>
              </section>
              <section class="turn">
                <p>{{job.description.S}}</p>
              </section>
              <div class="card__action-bar">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!--controller end-->
  </div>
</div>
