<!doctype html>
<div ng-app="app" ng-controller="BusinessChooseUsernameController">
<body>
  <div class="container-fluid">
    <div class="panel panel-primary dialog-panel">
      <div class="panel-heading">
        <h2>Choosse Username and Password: </h2>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-md-offset-2" for="id_username">Username</label>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-md-11">
              <input class="form-control" id="id_email" placeholder="We recommend Email Address" type="text" required>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-md-offset-2" for="id_password">Password</label>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-md-11">
              <input class="form-control" id="id_password" placeholder="" type="password" required>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-3">
          <button class="btn-lg btn-primary" type="submit" ng-click="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
</body>
</div>
