<div id="home" class="row">
  <div class="large-6 large-offset-3">
    <h2>Welcome {{ title }}!</h2>

    <div class="alert-box">{{ message }}</div>

    <ul class="small-block-grid-2">
      <li>
        <img class="th" src="img/logo.png" shows-message-when-hovered message="First Image.">
      </li>
      <li>
        <img class="th" src="img/logo.png" shows-message-when-hovered message="Dos.">
      </li>
    </ul>

    <div class="row">
      <div class="large-12 columns">
        <button ng-click="logout()" class="button large expand radius">Log Out</button>
      </div>
      <div>
        <button ng-click="hello()" class="button large expand radius">hey</button>
      </div>
    </div>
  </div>
</div>
