<!doctype html>
<div ng-app="app" ng-controller="StudentAcceptJobController">
  <div class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Connect-U</a>
          <a class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
          </a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-center" id="busname">
            <li role="menuitem">
              <a href="/business/home">{{cookieFirstName}}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" dropdown is-open="status.isopen">
              <button class="btn btn-primary" dropdown-toggle id="single-button" ng-disabled="disabled" type="button">
                Profile
                <span class="caret"></span>
              </button>
              <ul aria-labelledby="single-button" class="dropdown-menu" role="menu">
                <li role="menuitem">
                  <a href="/business/profile">Your Profile</a>
                </li>
                <li role="menuitem">
                  <a href="#">Help</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem">
                  <a href="#" ng-click="logout()">Logout</a>
                </li>
              </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--start sidebar-->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ul class="side-nav fixed" id="nav-mobile">
        <li class="logo"></li>
        <li class="active">
          <a href="/student/dashboard">Dashboard</a>
        </li>
        <li class="active">
          <a href="/student/jobs">Jobs</a>
        </li>
        <li class="active">
          <a href="/student/chat">Student Outreach</a>
        </li>
        <li class="active">
          <a href="/student/help">Help</a>
        </li>
      </ul>
    </div>
    <!--/.well -->
  </div>
  <!--/sidebar-nav-fixed -->
</div>

<body>
  <div class="container-fluid">
    <div class="row head-space">
      <div class="col-md-12">
      <div class="card">
        <div class="content">
          <span class="title">{{job.title.S}}</span>
          <p>By submitting this information, you agree to complete to the best of your abilities all required job expectations by the required deadline as listed in the job description:</p>
        </div>
        <div class="row">
        <div class="col-md-12">
            <div class="form-group internal">
              <p>I, <input class="signature" required placeholder="your name"></input> agree to complete, to the best of my abilities, all expectations associated with the role of
               <select ng-model="position" class="form-control" id="id_title" required>
                 <option></option>
                 <option data-ng-repeat="worker in job.workers_required.SS">{{worker}}</option>
               </select> by the deadline {{mm+1}}/{{dd}}/{{yyyy}}</p>
            </div>
          </div>
          </div>
        <div class="action">
          <a ng-click="accept()">I accept</a>
          <a ng-click="back()">I reject</a>
        </div>
      </div>
    </div>
</div>
  </div>
</body>
</div>
