<!doctype html>
<div ng-app="app" ng-controller="StudentJobsController">
<div class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header"><a class="navbar-brand" href="#">Connect-U</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
        </a>
      </div>
      <div class="navbar-collapse">
        <ul id="busname" class="nav navbar-nav navbar-center">
          <li role="menuitem"><a href="/student/home">{{cookieFirstName}}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="btn-group" dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
          Profile <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="/student/profile">Your Profile</a></li>
          <li role="menuitem"><a href="#">Help</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="#"  ng-click="logout()">Logout</a></li>
        </ul>
      </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--/.navbar-collapse -->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ul id="nav-mobile" class="side-nav fixed">
          <li class="logo">
          </li>
            <li class="active"><a href="/student/dashboard">Dashboard</a>
            </li>
            <li class="active"><a href="/student/jobs">Jobs</a>
            </li>
            <li class="active"><a href="/student/chat">Chat</a>
            </li>
            <li class="active"><a href="#">Help</a>
            </li>
          </ul>
        </div>
        <!--/.well -->
      </div>
      <!--/sidebar-nav-fixed -->
    </div>

<div class="container">
  <div ng-show="jobsLoaded">
    <div class="row upper-space">
      <div class="col-md-4 spacing" ng-repeat="job in currentJobs">
        <!-- Cards-->
        <div class="flip3D" ng-click="clickView(job)">
          <div class="back">
            <section class="backHeader">
              <h4>Workers</h4>
              <p>
                {{job.workers_required.SS}}
              </p>
            </section>
            <section class="backContent">
              <div>
                <h6>Project Progress</h6>

              </div>
              <hr />
            </section>
            <section class="backContent">
              <div>
                <h6>Social Media</h6>
                <p>
                  <a href="#"><i class="fa fa-github fa-3x"></i></a>
                  <a href="#"><i class="fa fa-dribbble fa-4x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-4x"></i></a>
                </p>
              </div>
            </section>
          </div>
          <div class="front">
            <section class="about">
              <h4>{{job.title.S}}</h4>
            </section>
            <section class="turn">
              <p>{{job.description.S}}</p>
            </section>
            <div class="card__action-bar">
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!--controller end-->
</div>
</div>
